#displayFlex {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
}

#contagem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: #e4cf13;
}

#tempo {
	border-radius: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#foguete {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
}

#imagemFoguete {
	width: 20%;
	position: absolute;
}